table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: mormal 3en Arial, Helvetica, sans-serif;
}

tr{
    height:16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid #4e494d;
}

#inputBox {
  background-color: #4e494d; 
  width: 100px;
  border: 0px;
  font-size: 2em;
  text-align: right;
  color: #fff;
}

.digit-button {
  background-color: #f0f0f0;
}

.oparator-Button {
    background-color: #ff9e06;
}

.calculator {
  background: #656165;
}